@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-secondary: #a1a1aa;
  --color-accent: #8b5cf6;
  --font-family-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-background);
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-sans);
}

.glass-panel {
  background-color: color-mix(in srgb, var(--color-surface) 50%, transparent);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.75rem;
}